@media screen and (max-width: 760px) {
  .home img {
    display: none;
  }

  .works {
    margin-top: 1rem;
  }

  .works img {
    display: flex;
    margin: 2rem auto;
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

  .works-text-h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
}

@media screen and (max-width: 415px) {
}
